.logo-link {
    display: inline-block; /* Contains the image properly */
    margin: 0 10px; 
  }
  
  .logo-img {
    object-fit: contain; 
    position: relative;
    transition: transform 0.2s ease;
    background-color: rgb(225, 233, 233);
    border-radius: 15px;
    padding: 5px;
    left: -5px;
    
  }
  
  .logo-img:hover {
    transform: scale(1.1);
  }